<template>
  <v-container fluid>
    <v-layout fill-height align-center row justify-center>
      <v-flex xs6>
            <v-text-field
              solo
              placeholder="Hello"
              v-model="message"
            >
            </v-text-field>
            <div class="ma-4"></div>
            <v-btn depressed
                   @click="submit">
              Submit
            </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: "Hello",
    data() {
      return {
        message: ""
      }
    },
    methods: {
      submit() {
        console.log(this.message)
      }
    }
  }
</script>

<style scoped>

</style>
